deploy_assets/scripts/
deploy_assets/processing-code/
deploy_assets/training-code/
api/package/
cdk.out/
cdk-outputs.json
__pycache__/*.pyc
venv/
.venv/
local_test/
s3_sim/
response*.json
*.zip
awscliv2.zip
aws/

# Local outputs and archives
/outputs/
/_archive_pre_cleanup/
/_archive_pre_cleanup/
/outputs/
